<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
  <div style="margin:auto;position:fixed;top:50%;left:50%;">
      <img src="assets/crm/spinner.gif " width='25px'>
  </div>
</div>

<ba-card cardTitle="ORDERS" class="smart-table-container" #orders>
    <div class="row">
        <div class="col-12 search-container">
            Search Orders By: <input type="radio" name="type" [value]="1" [(ngModel)]="orderTask.searchorderby" (change)="valueChange('phone')"/>Customer/Phone <input type="radio" name="type" [value]="2" [(ngModel)]="orderTask.searchorderby" (change)="valueChange('other')"/>Other filters
        </div>
    </div>
    <div class="row" *ngIf="orderTask.searchorderby == 1"> 
        <div class="col-md-5 padding-eater">
            <input name="riUser" [(ngModel)]="searchKey" autocomplete="off" type="text" class="form-control" placeholder="Search" (keyup)="searchOrdersTerm$.next($event.target.value)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>Start Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="orderTask.startDate" (Change)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>End Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="orderTask.endDate" (dateModelChange)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="filter-width no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>Select Type</label>
            <select (change)="refreshDataHandler()" class="form-control"
                [(ngModel)]="orderTask.OrderType" id="exampleSelect1">
                <option [value]="1">All Type</option>
                <option [value]="2">Lead</option>
                <option [value]="3">Customer</option>
            </select>
        </div>
        <div class="filter-width no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>Vendor</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="orderTask.VendorID">
                <option [value]="1">All Vendors</option>
                <option *ngFor='let vendor of allVendors' [value]="vendor.VendorID">{{vendor.Vendor}}</option>
            </select>
        </div>
        <div class="filter-width no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>WareHouse</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="orderTask.WareHouseID">
                <option [value]="1">All WareHouse</option>
                <option *ngFor='let warehouse of allWareHouse' [value]="warehouse.WareHouseID">{{warehouse.WareHouse}}</option>
            </select>
        </div>
        <div class="filter-width no-padding-right" *ngIf="orderTask.searchorderby == 2">
            <label>Status</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="orderTask.OrderStatus">
                <option [value]="1">All Status</option>
                <option *ngFor='let status of allOrderStatus' [value]="status.OrderStatusID">{{status.OrderStatus}}</option>
            </select>
        </div>
        <div class="col-1 no-padding-right view-btn" *ngIf="orderTask.searchorderby == 2">
            <button class="btn btn-primary" [disabled]='!buttonAction' (click)="getAllOrders()">View </button>
        </div>
        <div class="col-md-2 col-sm-12 createTicketBtn">
            <button [routerLink]="['../create']" class="btn btn-primary addCustBtn pull-right">
                Create
            </button>
        </div>
        <div class="col-md-2 col-sm-12 printBtn">
            <button (click)="printTable()" class="btn btn-primary addCustBtn pull-right" [disabled]="allOrdersList.length == 0">
                Print
            </button>
        </div>
        <div class="col-md-2 col-sm-12 exportBtn">
            <button (click)="exportToCSV()" class="btn btn-primary addCustBtn pull-right" [disabled]="allOrdersList.length == 0">
                Export
            </button>
        </div>
    </div>
    <div class="table-container" style="overflow-x:auto;">
        <table class="table table-striped table-condensed notification-list-table" id="order-table">
            <thead class="tableHeader">
                <tr>
                    <th class="table-id thVerticalAlign actionAlignCenter" style="width: 8%;">Actions</th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Number
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Order Number
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Order Type
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Customer Name
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Payment Mode
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Total Amount
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Discount(%)
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Order Date
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Order Status
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr valign="middle" *ngFor="let item of allOrdersList let i=index">
                    <td class="table-id">
                        <i class="ion-ios-book custom-tooltip-ion" 
                        (click)="printCashData(item.OrderID, 'CRM')" style="margin-right: 5px">
                            <span class="tooltiptext">Print Invoice</span>
                        </i>
                        <i class="fa fa-print custom-tooltip-ion" 
                        (click)="printCashData(item.OrderID, 'IMS')" style="margin-right: 5px">
                            <span class="tooltiptext">Print Issue</span>
                        </i>
                        <a [routerLink]="['../view',item.OrderID]">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <a [routerLink]="['../edit',item.OrderID]" *ngIf="item.IsEdit">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                    </td>
                    <td class='text-align-left leadNumber'>{{item.LeadNumber}}</td>
                    <td class='text-align-left leadNumber'>{{item.OrderNumber}}</td>
                    <td class='text-align-center type'>{{item.OrderType}}</td>
                    <td class='text-align-left custname'>{{item.CustomerName}}</td>
                    <td class='text-align-center payment-mode'>{{item.PaymentMode || 'NA'}}</td>
                    <td class='text-align-center total-amount'>{{item.TotalAmount}}</td>
                    <td class='text-align-center discount'>{{item.DiscountPercentage}}</td>
                    <td class="text-align-left createdOn">{{item.OrderDate}}</td>
                    <td class="text-align-center orderStatus">{{item.OrderStatus}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="noOrderFound == '' && allOrdersList.length == 0 && refreshMessage" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{refreshMessage}}</div>
        <div *ngIf="noOrderFound != '' && allOrdersList.length == 0" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{noOrderFound}}</div>
    </div>
</ba-card>