<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
    <div style="margin:auto;position:fixed;top:50%;left:50%;">
        <img src="assets/crm/spinner.gif " width='25px'>
    </div>
</div>
<ba-card cardTitle="{{cardTitle}}" id="newTicket">
    <button class="btn btn-danger buttonMargin backBtn" [ngClass]="isViewOnly ? 'submit-create-receipt' : 'backtoreceiptlist'" (click)="goToListPage()">Back</button>
    <button class="btn btn-danger buttonMargin btn-margin submit-create-receipt" *ngIf="!isViewOnly" (click)="submitCutting();">Submit</button>
    <div class="row">
        <div class="col-3">
            <div class="form-group" *ngIf="ReceiptID == 0">
                <label>Receipt Date <sup style="color:red;">*</sup></label>
                <div>
                    <date-picker [disabled]="isViewOnly" [(dateModel)]="createReceipt.ReceiptDate"></date-picker>
                </div>
            </div>
            <div class="form-group" *ngIf="ReceiptID !=0">
                <label>Receipt Date</label>
                <input type='text' class="form-control" [disabled]="true" [(ngModel)]="displayDate">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Receipt Number </label>
                <input type='text' class='form-control' [disabled]="true" [(ngModel)]="createReceipt.ReceiptNumber">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Party Type <sup style="color:red;">*</sup></label>
                <select class="form-control" [disabled]="isViewOnly" [(ngModel)]="createReceipt.PartyTypeID">
                    <option [value]="0">Select Party Type</option>
                    <option [value]="2">Customer</option>
                    <option [value]="3">Vendor</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group" *ngIf="createReceipt.PartyTypeID == 2">
                <label>Customer Detail<sup style="color:red;">*</sup></label>
                <input name="riUser" *ngIf="!detail" [(ngModel)]="searchKey" autocomplete="off" type="text" class="form-control" placeholder="Type here to Start Search" (keyup)="searchCustomer$.next($event.target.value)">
                <div class="search-container" [hidden]="!showList">
                    <div [hidden]="!showList" class="search-item" *ngFor="let c of customerList" (click)="customerSelected(c)">{{c.CustomerName}},{{c.Address}}</div>
                </div>
                <div class="form-control" *ngIf="detail"> <div class="customer-value">{{customerNameWithAddress}}</div></div>
            </div>
        </div>
        <div class="col-3" *ngIf="createReceipt.PartyTypeID == 3">
            <div class="form-group" *ngIf="!detail">
                <label>Vendor Detail <sup style="color:red;">*</sup></label>
                <select class="form-control" [disabled]="isViewOnly" [(ngModel)]="createReceipt.VendorID">
                    <option [value]="0">Select Vendor</option>
                    <option *ngFor='let vendor of allVendor' [value]="vendor.VendorID">{{vendor.Vendor}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="detail">
                <div class="form-control" *ngIf="detail"> <div class="customer-value">{{customerNameWithAddress}}</div></div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Receipt Type <sup style="color:red;">*</sup></label>
                <select class="form-control" [disabled]="isViewOnly" [(ngModel)]="createReceipt.ReceiptTypeID">
                    <option [value]="0">Select Receipt Type</option>
                    <option *ngFor='let receipt of allReceiptType' [value]="receipt.ReceiptTypeID">{{receipt.ReceiptType}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Transaction Type <sup style="color:red;">*</sup></label>
                <select class="form-control" [disabled]="isViewOnly" [(ngModel)]="createReceipt.TranTypeID">
                    <option [value]="0">Select Transaction Type</option>
                    <option [value]="2">Credit</option>
                    <option [value]="3">Debit</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Amount</label>
                <input type='text'placeholder="0.00" class='form-control' [disabled]="isViewOnly" [(ngModel)]="createReceipt.Amount">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Remark</label>
                <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createReceipt.Remark">
            </div>
        </div>
    </div>
</ba-card>
