<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
    <div style="margin:auto;position:fixed;top:50%;left:50%;">
        <img src="assets/crm/spinner.gif " width='25px'>
    </div>
</div>
<ba-card cardTitle="{{cardTitle}}" id="newTicket">
    <button class="btn btn-danger buttonMargin btn-margin submit-void-order" *ngIf="!isViewOnly && enableVoidOrder" (click)="VoidOrder();">Void Order</button>
    <button class="btn btn-danger buttonMargin backBtn" [ngClass]="isViewOnly ? 'submit-create-order' : 'backtolist'" (click)="goToListPage()">Back</button>
    <button class="btn btn-danger buttonMargin btn-margin submit-create-order" *ngIf="IsApprove" (click)="submitOrder('approve');">Approve</button>
    <button class="btn btn-danger buttonMargin btn-margin submit-create-order" *ngIf="!isViewOnly && !IsApprove" (click)="submitOrder('save');">Submit</button>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Order Date <sup style="color:red;">*</sup></label>
                    <div *ngIf="!disableOthers">
                        <date-picker [minDate]="todaysDate" [disabled]="isViewOnly" [(dateModel)]="createOrder.OrderDate"></date-picker>
                    </div>
                    <div class="form-control" *ngIf="disableOthers">
                        {{createOrder.OrderDate.year}}-{{createOrder.OrderDate.month}}-{{createOrder.OrderDate.day}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Order Type <sup style="color:red;">*</sup></label>
                    <select class="form-control" (change)="refreshDataHandler('typeChange')" [disabled]="isViewOnly || disableOthers || leadAlreadySelected || disableLeadCustomer" [(ngModel)]="createOrder.OrderType">
                        <option [value]="2">Lead</option>
                        <option [value]="3">Customer</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Company<sup style="color:red;">*</sup></label>
                    <select class="form-control" (change)="refreshDataHandler()" [disabled]="isViewOnly || disableOthers" [(ngModel)]="createOrder.Company">
                        <option *ngFor='let company of allCompany' [value]="company.CompanyID">{{company.CompanyName}}, {{company.CityName}}, {{company.StateName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" *ngIf="createOrder.OrderType == 2 || createOrder.OrderType == 3">
                    <label>Customer Detail<sup style="color:red;">*</sup></label>
                    <input name="riUser" *ngIf="(!disableLeadCustomer) && (!leadAlreadySelected)" [(ngModel)]="searchKey" autocomplete="off" type="text" class="form-control" placeholder="Type Here to Start Search" (keyup)="searchCustomer$.next($event.target.value)">
                    <div class="search-container" [hidden]="!searching">
                        <div [hidden]="!searching" class="search-item">Searching...</div>
                    </div>
                    <div class="search-container" [hidden]="!showList">
                        <div [hidden]="!showList" class="search-item" *ngFor="let c of customerList" (click)="customerSelected(c)">{{c.CustomerName}},{{c.Address}}</div>
                    </div>
                    <div class="form-control" *ngIf="disableLeadCustomer || leadAlreadySelected"> <div class="customer-value">{{customerNameWithAddress}}</div></div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Payment Mode</label>
                    <select class="form-control" (change)="refreshDataHandler('paymentMode')" [disabled]="isViewOnly || disablePayment" [(ngModel)]="createOrder.PaymentId">
                        <option [value]="0">Select Payment Mode</option>
                        <option *ngFor='let mode of allPaymentMode' [value]="mode.PaymentID">{{mode.Payment}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Dispatch No</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly || createOrder.Transporter == 0" [(ngModel)]="createOrder.DispatchNo">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Transporter</label>
                    <select class="form-control" (change)="refreshDataHandler('transporter')" [disabled]="isViewOnly || disableTransporter" [(ngModel)]="createOrder.Transporter">
                        <option [value]="0">Select Transporter</option>
                        <option *ngFor='let transporter of allTransporter' [value]="transporter.TransporterID">{{transporter.Transporter}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Status <sup style="color:red;">*</sup></label>
                    <select class="form-control" (change)="refreshDataHandler()" [disabled]="isViewOnly || disableStatus" [(ngModel)]="createOrder.OrderStatus">
                        <option *ngFor='let status of allStatus' [value]="status.Code">{{status.OrderStatus}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Ware House <sup style="color:red;">*</sup></label>
                    <select class="form-control" (change)="onVendorWarehouseChange()" [disabled]="isViewOnly || detailPage" [(ngModel)]="createOrder.WarehouseID">
                        <option [value]="0">Select Ware House</option>
                        <option *ngFor='let warehouse of allWareHouse' [value]="warehouse.WareHouseID">{{warehouse.WareHouse}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Discount(%)</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly || disableOthers" (focus)="removeZero('discount')" (focusout)="addZero('discount')" [(ngModel)]="createOrder.discount" (ngModelChange)="onDiscountChange()">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Freight Amount</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" (focus)="removeZero('frieght')" (focusout)="addZero('frieght')" [(ngModel)]="createOrder.FreightCharge" (ngModelChange)="onFreightChargeChange()">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Invoice Number</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createOrder.InvoiceNo">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Billing Address</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createOrder.BillingAddress">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Cash Amount</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly || disableAmount" [(ngModel)]="createOrder.CashAmount">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Cheque Amount</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly || disableAmount" [(ngModel)]="createOrder.ChequeAmount">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Other Amount</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly || disableAmount" [(ngModel)]="createOrder.OtherAmount">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>GST No</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createOrder.GSTNo">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Membership No</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createOrder.MembershipNo">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Remark</label>
                    <input type='text' class='form-control' [disabled]="isViewOnly" [(ngModel)]="createOrder.Remark">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Is Tax Invoice</label>
                    <input type='checkbox' class='form-control' style="margin-top: 5px; zoom: 0.5" [disabled]="isViewOnly" [(ngModel)]="createOrder.TaxInvoice">
                </div>
            </div>
        </div>
        <div *ngIf="createOrder.WarehouseID > 0">
            <fieldset>
                <legend>Select Product</legend>
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger btn-placement" (click)="addProductRow()" [disabled]="isViewOnly || disableOthers" >Add Product</button>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-condensed">
                            <thead class="mttableHeader">
                                <th>Product <sup style="color:red;">*</sup></th>
                                <th class="textAlignCenter" style="width: 10%">Rate</th>
                                <th class="textAlignCenter quantityforsize">Quantity for Different Size <sup style="color:red;">*</sup></th>
                                <th class="textAlignRight">Amount</th>
                                <th class="textAlignCenter">Action</th>
                            </thead>
                            <tbody> 
                                <tr *ngFor="let item of selectedProduct;let i = index">
                                    <!-- <td id="prodDSD">
                                        <select id="brow" *ngIf="!item.alreadyStored" class="form-control prodListElement" name="product" (change)="onProductChange(item)" [(ngModel)]="item.PRODUCTID" [disabled]="isViewOnly || (isEditOnly && item.alreadyStored)" >
                                            <option value="0">Select Product</option>
                                            <option *ngFor="let product of allProducts" [value]="product.PRODUCTID">{{product.Product}}</option>
                                        </select>
                                        <div *ngIf="item.alreadyStored" class="form-control product-list-div">{{item.ProductName}}</div>
                                    </td> -->
                                    <td>
                                        <div *ngIf="!item.alreadyStored" class="pt4">
                                            <ng-template #rt let-r="result" let-t="term">
                                                {{ r.Product}}
                                            </ng-template>
                                            <input type="text" class="form-control" [(ngModel)]="item.PRODUCTID" [ngbTypeahead]="searchProduct" [resultTemplate]="rt"
                                                placeholder="Search Product" [inputFormatter]="inputFormatter" (selectItem)="onProductChange($event, item)"
                                                [disabled]="isViewOnly || (isEditOnly && item.alreadyStored)" [editable]="false" [ngClass]="{'error-value': item.isError}" />
                                            </div>
                                        <div *ngIf="item.alreadyStored" class="form-control product-list-div">{{item.ProductName}}</div>
                                    </td>            
                                    <td class="textAlignCenter">
                                        <input class="input-rate-width form-control" type="text" (focus)="removeRateZero(item)" (focusout)="addRateZero(item)" (keyup)="changeAmount(item)" [(ngModel)]="item.Rate" [disabled]="disableOthers || isViewOnly"/>
                                    </td>
                                    <td class="textAlignCenter">
                                        <ng-container *ngFor="let quan of item.ProductAvailableSize ">
                                            <span class="name-space-between"><b>{{quan.name}}({{quan.INVBalance || 0}})</b></span>
                                            <span class="space-between"><input class="input-width form-control" type="number" (focus)="removeQuantityZero(quan)" (focusout)="addQuantityZero(quan)" (keyup)="changeAmount(item)" [(ngModel)]="quan.quantity" [disabled]="disableOthers || isViewOnly"/></span>
                                        </ng-container>
                                    </td>
                                    <td class="textAlignCenter">{{(item.Amount || 0)  | number : '1.2-2'}}</td>
                                    <td class="textAlignCenter">
                                        <i class="ion-trash-a" *ngIf="selectedProduct.length > 1 && !isViewOnly && !disableOthers" (click)="onDelete(i)"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="textAlignRight"><b>SubTotal</b></td>
                                    <td class="textAlignCenter"><b>{{totalAmount  | number : '1.2-2'}}</b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="textAlignRight"><b>Freight Amount</b></td>
                                    <td class="textAlignCenter"><b>{{createOrder.FreightCharge || 0  | number : '1.2-2'}}</b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="textAlignRight"><b>Discount</b></td>
                                    <td class="textAlignCenter"><b>{{discountedValue || 0  | number : '1.2-2'}}</b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="textAlignRight"><b>Total Amount</b></td>
                                    <td class="textAlignCenter"><b>{{finalAmount  | number : '1.2-2'}}</b></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
</ba-card>
