@import "../../../theme/sass/conf/conf.scss";

.view-btn {
    padding-top: 25px;
    padding-left: 25px;
}
.createWashingBtn {
    padding: 10px 35px;
    position: absolute;
    right: -13px;
    top: -3px;
}
.text-align-center {
    text-align: center;
}
.printBtn {
    padding: 10px 35px;
    position: absolute;
    right: 80px;
    top: -3px;
}
.exportBtn {
    padding: 10px 35px;
    position: absolute;
    right: 160px;
    top: -3px;  
}
.text-align-left {
    text-align: left;
}

.thVerticalAlign {
    vertical-align: middle;
  }

table.washing-list-table tbody tr td {
    padding: 0px 5px !important;
}

table.washing-list-table thead th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.createdOn {
    width: 11%;
}
.lotNumber {
    width: 10%
}
.quantity {
    width: 9%
}
.status {
    width: 10%
}
.type {
    width: 10%
}
.custom-tooltip-ion:hover .customTooltiptext {
    visibility: visible;
}
input[type="radio"] {
    margin-right: 3px;
}
.search-container {
    padding-bottom: 12px;
}
.padding-eater {
    padding-left: 15px;
    padding-bottom: 10px;
}
.customTooltiptext {
    z-index: 999;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    width: auto;
    text-align: center;
    border-radius: 6px;
    position: relative;
    padding: 2px 5px;
    line-height: 15px;
    font-size: 12px;
}
  
@media only screen and (min-width: 769px) {
    .tooltip-position {
        position: absolute;
        width: 64px !important;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .tooltip-position {
        position: relative;
    }
}
@media only screen and (min-width: 769px) {
    .filter-max-width {
        max-width: 14.2% !important;
    }
}