<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
  <div style="margin:auto;position:fixed;top:50%;left:50%;">
      <img src="assets/crm/spinner.gif " width='25px'>
  </div>
</div>

<ba-card cardTitle="LEADS" class="smart-table-container" #leads>
    <div class="row">
        <div class="col-12 search-container">
            Search Leads By: <input type="radio" name="type" [value]="1" [(ngModel)]="leadTask.searchby" (change)="valueChange('phone')"/>Customer/Phone <input type="radio" name="type" [value]="2" [(ngModel)]="leadTask.searchby" (change)="valueChange('other')"/>Other filters
        </div>
    </div>
    <div class="row" *ngIf="leadTask.searchby == 1"> 
        <div class="col-md-5 padding-eater">
            <input name="riUser" [(ngModel)]="searchKey" autocomplete="off" type="text" class="form-control" placeholder="Search" (keyup)="searchTerm$.next($event.target.value)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="leadTask.searchby == 2">
            <label>Start Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="leadTask.startDate" (dateModelChange)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="leadTask.searchby == 2">
            <label>End Date</label>
            <div class="input-group">
                <date-picker [(dateModel)]="leadTask.endDate" (dateModelChange)="refreshDataHandler()"></date-picker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="leadTask.searchby == 2">
            <label>Priority</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="leadTask.Priority">
                <option [value]="1">All Priority</option>
                <option *ngFor='let priority of allPriority' [value]="priority.PriorityID">{{priority.PriorityDesc}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right" *ngIf="leadTask.searchby == 2">
            <label>Status</label>
            <select class="form-control" (change)="refreshDataHandler()" [(ngModel)]="leadTask.Status">
                <option [value]="1">All Status</option>
                <option *ngFor='let status of allStatus' [value]="status.LeadStatusID">{{status.LeadStatus}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12 no-padding-right view-btn" *ngIf="leadTask.searchby == 2">
            <button class="btn btn-primary" [disabled]='!buttonAction' (click)="getAllLeads()">View </button>
        </div>
        <div class="col-md-2 col-sm-12 createTicketBtn">
            <button [routerLink]="['../create']" class="btn btn-primary addCustBtn pull-right">
                Create
            </button>
        </div>
        <div class="col-md-2 col-sm-12 printBtn">
            <button (click)="printTable()" class="btn btn-primary addCustBtn pull-right" [disabled]="allLeadsList.length == 0">
                Print
            </button>
        </div>
        <div class="col-md-2 col-sm-12 exportBtn">
            <button (click)="exportToCSV()" class="btn btn-primary addCustBtn pull-right" [disabled]="allLeadsList.length == 0">
                Export
            </button>
        </div>
    </div>
    <div class="table-container" style="overflow-x:auto;">
        <table class="table table-striped table-condensed notification-list-table" id="lead-container">
            <thead class="tableHeader">
                <tr>
                    <th class="table-id thVerticalAlign actionAlignCenter" style="width: 8%;">Actions</th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Number
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Type
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Customer Name
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Phone No
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Address
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-center">
                        <span>
                            Shop
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Quantity
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Lead Date
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            FollowUp Date
                        </span>
                    </th>
                    <th class="thVerticalAlign text-align-left">
                        <span>
                            Status
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr valign="middle" *ngFor="let item of allLeadsList let i=index">
                    <td class="table-id">
                        <a [routerLink]="['../view',item.LeadID]">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <a [routerLink]="['../edit',item.LeadID]">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                    </td>
                    <td class='text-align-left leadNumber'>{{item.LeadNumber}}</td>
                    <td class='text-align-left type'>{{item.LeadType}}</td>
                    <td class='text-align-left custname'>{{item.CustomerName}}</td>
                    <td class='text-align-left phone'>{{item.Phone}}</td>
                    <td class='text-align-left address'>{{item.Address}},{{item.CityName}},{{item.StateName}}</td>
                    <td class='text-align-center shopName'>{{item.ShopName}}</td>
                    <td class='text-align-center quantity'>{{item.Quantity}}</td>
                    <td class="text-align-left createdOn">{{item.LeadDate}}</td>
                    <td class="text-align-left createdOn">{{item.FollowUPDate}}</td>
                    <td class="text-align-left leadStatus">{{item.LeadStatus}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="noLeadFound == '' && allLeadsList.length == 0 && refreshMessage" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{refreshMessage}}</div>
        <div *ngIf="noLeadFound != '' && allLeadsList.length == 0" style = "background-color:rgba(0, 0, 0, 0.1);font-size:16px;padding: 11px;text-align:center;">{{noLeadFound}}</div>
    </div>
</ba-card>
