<div *ngIf='showLoader' style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
    <div style="margin:auto;position:fixed;top:50%;left:50%;">
        <img src="assets/crm/spinner.gif " width='25px'>
    </div>
</div>
<div class="row row-flex">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
        <div class='box-title' style="background: #e12726; color:#FFFFFF;" >FollowUp Leads</div>
        <div class='box-middle row'>
            <div class="box-txt col-12"  *ngIf="allFollowUpLeads.length > 0">
                <div class="item-heading">
                    <div class="customer-name">Customer Name</div>
                    <div class="phone-number">Phone Number</div>
                    <div class="followup-date">Followup On</div>
                </div>
                <div class="item-value" *ngFor="let item of allFollowUpLeads">
                    <div class="customer-name">{{item.CustomerName}}</div>
                    <div class="phone-number">{{item.Phone}}</div>
                    <div class="followup-date">{{item.FollowUPDate}}</div>
                </div>
            </div>
            <div class="box-txt col-12" *ngIf="allFollowUpLeads.length == 0">
                <div class="item-heading no-lead">
                    No Followup Lead Present
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
        <div class='box-title' style="background: #e12726; color:#FFFFFF;" >Hot Leads</div>
        <div class='box-middle row'>
            <div class="box-txt col-12" *ngIf="allHotLeads.length > 0">
                <div class="item-heading">
                    <div class="customer-name"> Customer Name</div>
                    <div class="phone-number"> Phone Number</div>
                    <div class="followup-date">Followup On</div>
                </div>
                <div class="item-value" *ngFor="let item of allHotLeads">
                    <div class="customer-name">{{item.CustomerName}}</div>
                    <div class="phone-number">{{item.Phone}}</div>
                    <div class="followup-date">{{item.FollowUPDate}}</div>
                </div>
            </div>
            <div class="box-txt col-12" *ngIf="allHotLeads.length == 0">
                <div class="item-heading no-lead">
                    No Hot Lead Present
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
            <div class='box-title lightGreen'>Total Leads</div>
            <div class='box-middle row'>
            <div class='box-txt col-12' *ngIf="allLeads">
                <div class="item-count-box">
                    <div class="desciption-heading">Total Pending Leads</div>
                    <div class="desciption-value">{{allLeads.TotalPendingLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Low Leads</div>
                    <div class="desciption-value">{{allLeads.TotalLowLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Medium Leads</div>
                    <div class="desciption-value">{{allLeads.TotalMediumLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Hot Leads</div>
                    <div class="desciption-value">{{allLeads.TotalHotLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Followup Leads</div>
                    <div class="desciption-value">{{allLeads.TotalFollowupLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Dead Leads</div>
                    <div class="desciption-value">{{allLeads.TotalDeadLead || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Client</div>
                    <div class="desciption-value">{{allLeads.TotalClient || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Leads</div>
                    <div class="desciption-value">{{allLeads.TotalLead || 0}}</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
            <div class='box-title lightGreen'>Orders</div>
            <div class='box-middle row'>
            <div class='box-txt col-12' *ngIf="allOrders">
                <div class="item-count-box">
                    <div class="desciption-heading">Total Pending Payment</div>
                    <div class="desciption-value">{{allOrders.TotalPendingPayment || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Pending Payment Approval</div>
                    <div class="desciption-value">{{allOrders.PendingPaymentApproval || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Pending Dispatch</div>
                    <div class="desciption-value">{{allOrders.TotalPendingDispatch || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Void Orders</div>
                    <div class="desciption-value">{{allOrders.TotalVoidOrder || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Completed Orders</div>
                    <div class="desciption-value">{{allOrders.TotalCompletedOrder || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Orders</div>
                    <div class="desciption-value">{{allOrders.TotalOrder || 0}}</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
            <div class='box-title lightGreen'>LOT Summary</div>
            <div class='box-middle row'>
            <div class='box-txt col-12' *ngIf="allLotSummary">
                <div class="item-count-box">
                    <div class="desciption-heading">Total Cutting</div>
                    <div class="desciption-value">{{allLotSummary.TotalCutting || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Cutting Damage</div>
                    <div class="desciption-value">{{allLotSummary.TotalCuttingDamage || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total GRN</div>
                    <div class="desciption-value">{{allLotSummary.TotalGRN || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Washing Issue</div>
                    <div class="desciption-value">{{allLotSummary.TotalWashingIssue || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Washing Receive</div>
                    <div class="desciption-value">{{allLotSummary.TotalWashingReceive || 0}}</div>
                </div>
                <div class="item-count-box">
                    <div class="desciption-heading">Total Washing Rewash</div>
                    <div class="desciption-value">{{allLotSummary.TotalWashingRewash || 0}}</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="inner_container">
            <div class='box-title lightGreen'>Pending LOT Detail</div>
            <div class='box-middle row'>
                <div class="box-txt col-12" *ngIf="allLotDetails.length > 0">
                    <div class="item-heading">
                        <div class="lot-no"> LOT No </div>
                        <div class="lot-date"> Lot Date </div>
                        <div class="pending-qty"> Pending Qty </div>
                        <div class="washer"> Washer </div>
                    </div>
                    <div class="item-value" *ngFor="let item of allLotDetails">
                        <div class="lot-no">{{item.LOTNo}}</div>
                        <div class="lot-date">{{item.LotDate}}</div>
                        <div class="pending-qty">{{item.PendingQty}}</div>
                        <div class="washer">{{item.Washer}}</div>
                    </div>
                </div>
                <div class="box-txt col-12" *ngIf="allLotDetails.length == 0">
                    <div class="item-heading no-lead">
                        No Lot Details Available
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 