@import "../../../theme/sass/conf/conf.scss";
.page-header {
    border: 1px solid;
}
.slip-header-section {
    text-align: center;
}
.order-section {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.order-no-lbl {
    display: inline-block;
    width: 30%;
}
.order-no-value {
    display: inline-block;
    width: 70%;
}
.view-btn {
    padding-top: 25px;
    padding-left: 25px;
}
.createTicketBtn {
    padding: 10px 35px;
    position: absolute;
    right: -13px;
    top: -3px;
}
.printBtn {
    padding: 10px 35px;
    position: absolute;
    right: 80px;
    top: -3px;
}
.exportBtn {
    padding: 10px 35px;
    position: absolute;
    right: 160px;
    top: -3px;  
}
.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.thVerticalAlign {
    vertical-align: middle;
  }

table.notification-list-table tbody tr td {
    padding: 0px 5px !important;
}

table.notification-list-table thead th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.createdOn {
    width: 10%;
}
.lotNo {
    width: 10%
}
.washer {
    width: 9%
}
.washing {
    width: 15%
}
.custom-tooltip-ion:hover .customTooltiptext {
    visibility: visible;
}
  
.customTooltiptext {
    z-index: 999;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    width: auto;
    text-align: center;
    border-radius: 6px;
    position: relative;
    padding: 2px 5px;
    line-height: 15px;
    font-size: 12px;
}
  
@media only screen and (min-width: 769px) {
    .tooltip-position {
        position: absolute;
        width: 64px !important;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .tooltip-position {
        position: relative;
    }
}
.driver-spinner {
    position: absolute;
    top: 27px;
    z-index: 999;
    right: 13px;
}
.cursorPointer {
    cursor: pointer;
}
.no-padding-right {
    padding-right: 0px !important;
}
@media only screen and (min-width: 769px) {
    .filter-max-width {
        max-width: 14.2% !important;
    }
}